body {font-size:100%;background:#fff;}
div.attestation {width:600px;border:1px solid #999;background:#fff;margin:0 auto;padding:20px;}
h2 small,h3 small {font-weight: normal}
h2 {float: left;width: 45%;}
h3.numero {float: right;width: 45%;text-align: right}
.titre {overflow: hidden;width: 100%;}

.beneficiaire hr {display: none;}
.beneficiaire {width: 45%;float: left;}
.donateur hr {display: none;}
.donateur {width: 45%;float: right;}
.atteste {clear: both;padding-top: 2em;}

.header {margin-bottom: 2em;}
.footer {font-size: 0.9em;text-align: center;margin-top: 2em;}
.colophon {border-top: 1px solid #888;padding-top:1em;}